html,body{
  height:100%;
}
body{
  position: relative;
}
a{
  text-decoration: none !important;
}
.dashbar,.footer{
  height: 60px;
  background: #468CCC;
  z-index: 1;
}
.dashbar{
  position: relative;
}
.dashbar a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  line-height: 60px;
}
.dashbar li {
  display: inline;
}
aside.sidebar{
  padding-top: 20px;
  width: 250px;
  height: 100%;
  background: #ccc;
  position: fixed;
  left:-250px;
  top:60px;
}
.menu-open{
  position: absolute;
  top: -3px;
  left: 3px;
  line-height: 10px !important;
  width: 70px;
  border-radius: 0px;
}
.menu-open > .glyphicon{
  font-size: 3em;
}
.footer{
  height: 60px;
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
}
.main{
  margin: 10px 10px 10px 300px;
  height: 500px;
  min-width: 550px;
  border:1px solid rgba(51, 51, 51, 0.21);
}
.sidebar > .nav-pills > li > a{
  border-radius: 0px;
}
#deptID,#userID{
  display: none;
  margin-bottom: 10px;
}
#userAction{
  list-style: none;
  position: absolute;
  background: #eee;
  padding: 5px 10px;
  top: 50px;
}
#userAction li{
  padding: 5px 10px;
}
#clock{
  position: absolute;
  bottom: 0;
  width: 250px;
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  color: #fff;
  font-size: 2em;
  border-top: 5px solid #fff;
  font-family: monospace;
}